<p>Привет, это RuChamp.ru</p>
<p>Если вы запрашивали изменение пароля, пройдите по ссылке снизу</p>
<p>
    <a style="font-size: 1.5rem;" href="{{ url }}">Да, изменить пароль</a>
</p>

<p>Если вы не запрашивали это сообщение, просто игнорируйте его</p>